RewriteEngine On
RewriteCond %{HTTP_HOST} wustl\.edu [NC]
RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://lune.wustl.edu/$1 [R,L]

RewriteRule ^zoom$ https://wustl.zoom.us/j/92161074225?pwd=Q0xZSGVTQnZ1OWpqclFoQXYwelNQZz09 [NC]
RewriteRule ^google-scholar$ https://scholar.google.com/citations?user=Kxfzw18AAAAJ [NC]
RewriteRule ^linkedin$ https://www.linkedin.com/in/jamesbmertens [NC]

# RewriteRule ^$ https://sites.wustl.edu/mertens [NC]
